.cards {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 10px;
}

.cards__container {
  display: inline-flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.cards__wrapper {
  padding-bottom: 200px;
}

.cards__item {
  display: inline-flex;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-transform: translate3d(0,0,0);
}

.cards__item__link {
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.cards__item__pic-wrap {
  position: relative;
  padding-top: 70%;
  width: 200px;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  margin-left: 10px;
  bottom: 0;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-weight: 700;
  font-size: 12px;
  background-color: #F6F6F6;
  color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
  border-radius: 10px;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .cards__item {
    display: flex;
  }
}
