.navbar {
  display: flex;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  justify-content: center;
  font-size: 1.2rem;
  top: 0;
}

.navbar-container {
  display: inline-flex;
  z-index: 999;
}

.nav-menu-icon {
  display: none;
}

.navbar-logo {
  display: inline-flex;
  font-size: 2rem;
  color: white;
  margin-left: 20px;
  align-items: center;
  text-decoration: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: end;
  width: 60vw;
  margin-right: 2rem;
  list-style: none;
}

.nav-links {
  display: inline-flex;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  align-items: center;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid white;
  transition: all 0.2s ease-out;
}

.navbar-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.fa-github, .fa-twitter {
  color: white;
}

.fa-bars {
  color: white;
  padding-right: 15px;
}

.social-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  width: 10vw;
  margin-right: 2rem;
  justify-content: end;
  list-style-type: none;

}

@media screen and (max-width: 960px) {
  .nav-menu {
    background: #242222;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.3s ease;
    justify-content: flex-start;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: white;
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .nav-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
    padding-right: 15px;
  }

  .social-menu {
    display: flex;
    grid-gap: 200px;
    width: 50vh;
    justify-content: space-evenly;
    margin-right: 0rem;
    padding-top: 50px;
  }
}
