
.flex-container1 {
  position: relative;
  top: 25%;
  z-index: -1;
}

.content-wrapper {
  position: relative;
  padding-left: 600px;
  padding-right: 600px;
  top: 30%;
}

.priv-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #94968F;
  padding: 50px;
  border-radius: 25px;
  /* border: 0.5px solid rgba(43, 42, 42, 0.726); */
  box-shadow:2px 2px 5px rgb(0, 0, 0); /* adding shadow */
}

.header-section {
  text-align: center;
  color: black;
}

.paragraph-section {
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.contact-section1 {
  color: #732312;
}

@media only screen and (max-width: 3000px) {
  .content-wrapper {
  padding-left: 500px;
  padding-right: 500px;
  }
}

@media only screen and (max-width: 1500px) {
  .content-wrapper {
  padding-left: 300px;
  padding-right: 300px;
  }
}

@media screen and (max-width: 960px) {
  .flex-container1 {
    top: 20%;
    flex-direction: column;
    height: 100%;
    width: 100%;

  }

  .content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media screen and (orientation: landscape) and (max-width: 960px) {
  .flex-container1 {
    height: 150%;
    width: 100%;
  }

  .content-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
